{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}


{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Forgotten your password.</h5>
            <p class="card-text">Enter your e-mail address to obtain a new password.</p>
            <form method="post" action=".">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Reset Password</button>
            </form>
        </div>
    </div>
{% endblock %}
