{% extends 'base.html' %}
{% block title %} My Courses || {{ block.super }}{% endblock %}


{% block content %}
    <h1 class="h1">My Courses</h1>
    <hr/>
    <div class="row">
        {% for course in student_courses %}
            <div class="col-3">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <a href="{% url 'student_course_detail' course.id %}" style="text-decoration: none; color: #000;">
                            <h3>{{ course.title }}</h3>
                        </a>
                        <a href="{% url 'student_course_detail' course.id %}" class="btn btn-sm btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>You are empty in any course yet! <a href="{% url 'course_list' %}" class="btn btn-sm btn-primary">Enroll
                Course</a></p>
        {% endfor %}
    </div>
{% endblock %}
