{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}


{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sign Up</h5>
            <p class="card-text">Please, Sign up using the following form:</p>
            <form method="post" action=".">{% csrf_token %}
                {{ user_form.as_p }}
                <button type="submit" class="btn btn-secondary">Sign Up</button>
            </form>
            <br/>
            <p><a href="{% url 'login' %}" style="text-decoration: none;">Login</a></p>
        </div>
    </div>
{% endblock %}
